@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    display: flex;
}

.block-left {
    flex: 1;
    height: auto;
}

.block-right {
    flex: 1;
    height: 100vh;
}

.block-left .header img {
    width: 139px;
    height: 28px;
    margin-top: 34px;
    margin-left: 32px;
}

.block-left .header {
    height: 96px;
}

.footer {
    display: flex;
    height: 96px;
    align-items: center;
    margin-left: 32px;
    color: #667085;
}

.main {
    display: flex;
    height: calc(100vh - 96px - 96px);
    justify-content: center;
    align-items: center;
}

.form {
    height: fit-content;
    width: 360px;
}

.form .title-form {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0%;
    margin-bottom: 32px;
}

.form .label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    margin-bottom: 6px;
}

.form .block-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form .block-input input {
    border: 1px solid #D0D5DD;
    height: 44px;
    border-radius: 8px;
}

.form .remember-forget-password {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.form .remember-forget-password .remember-forget-password-right a {
    text-decoration: none;
    color: #932F08;
}

.remember-forget-password-right a:hover {
    color: #5c1f06;
}

.form .btnLogin {
    border-radius: 8px;
    width: 100%;
    border: 1px solid transparent;
    color: white;
    background-color: #B54115;
    height: 44px;
    margin-bottom: 16px;
}

.btnLogin:hover {
    background-color:  #802e0e;
}

.btnLogin-google .logo-google {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.btnLogin-google {
    width: 100%;
    height: 44px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #344054;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 32px;
}

.btnLogin-google:hover {
    background-color: #e4e3e3;
}

.form .footer-form {
    display: flex;
    justify-content: center;
}

.footer-form .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
}

.footer-form a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #932F08;
}
